<!DOCTYPE html>
<html>
<head>
<!-- Estilos y otros encabezados aquí -->
</head>
<body>
<h1>DAsboard_turnosConfirmados</h1>
<% if @turnos_confirmados.present? %>
    <div class="card-container">
    <% @turnos_confirmados.each do |turno| %>
        <div class="card">
        <div class="card-content">
            <h5 class="card-title"><strong>Nombre:</strong> <%= turno.perro.nombre %></h5>
        </div>
        <div class="button-container">
            <!-- Botones y acciones relacionadas con cada turno -->
        </div>
        </div>
    <% end %>
    </div>
    <% else %>
    <p>No hay turnos confirmados.</p>
<% end %>

</body>
</html>
