<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      color: #333;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 600px;
      margin: 20px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      color: #fc904f;
    }

    p {
      line-height: 1.6;
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>¡Hola!</h1>

    <p>
      Bienvenido a la plataforma de OhMyDog!<br>
      Tu cuenta ya ha sido creada.<br>
      Puedes iniciar sesión con tu DNI y la siguiente contraseña: <strong>123123</strong>.<br>
      Una vez que hayas iniciado sesión, podrás cambiarla a tu gusto.<br>
      No compartas tu contraseña con nadie.
    </p>
  </div>
</body>
</html>

