<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      color: #333;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 600px;
      margin: 20px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      color: #fc904f;
    }

    p {
      line-height: 1.6;
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
  <div class="container">

    <h1>¡Hola <%= @perro_perdido.user.nombre %>!</h1>
      <p>Una persona llamada <%= @nombre %>  se comunico con nosotros para comunicarnos que el perro que encontraste es suyo.</p>
      <p>Puedes ponerte en contacto con él/ella a través del correo <%= @correo_contacto %> o del teléfono <%= @telefono %>.</p>
      <p>¡Contactalá lo antes posible!</p>

  </div>
</body>
</html>
