<!-- app/views/perros/edit.html.erb -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card">
        <div class="card-body p-4">

          <h2 class="text-center mb-4">Editar Perro</h2>

          <%= render 'form_de_edicion', perro: @perro %>

        </div>
      </div>
    </div>
  </div>
</div>
