<p>
  <%= t(".agregar_message", username: @username) %>
</p>
<p>
  Tu turno para el perro <%= @turno.perro.nombre %> en la fecha: <%= @fecha.strftime('%d-%m-%Y') %> no pudo ser confirmado.
</p>
<p>
  Mensaje del veterinario acerca del turno: <%= @texto %> .
</p>
